<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>
  <h2>Customer Confirmation Details</h2>
The customer is confirmed: <span th:text="${customer.firstName}+' '+ ${customer.lastName}"/>
  <br><br>
Free Passes:
<span th:text="${customer.freePasses}"/>
Postal Code:
<span th:text="${customer.postalcode}"/>
  Course Code:
  <span th:text="${customer.courseCode}"/>
</body>
</html>