<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
  <style>
    .error{
      color:red;
    }
  </style>
</head>
<body>
  <h2>Customer Details Form</h2>
  <i>Fill out the form. Asterisk (*) means required.</i>

  <br><br>

  <form th:action="@{/processForm}" method="POST" th:object="${customer}">
    First Name:
    <input type="text" th:field="*{firstName}">

    <br><br>

    Last Name (*):
    <input type="text" th:field="*{lastName}" >
<!--    add error message (if present)-->
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>

    <br><br>

    Free Passes:
    <input type="number" th:field="*{freePasses}">
    <span th:id="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>

    <br><br>
    Postal Code:
    <input type="text" th:field="*{postalcode}">
    <span th:id="${#fields.hasErrors('postalcode')}" th:errors="*{postalcode}" class="error"></span>

    <br><br>
    Course Code:
    <input type="text" th:field="*{courseCode}">
<!--    Add error message if present-->
    <span th:id="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>

    <br><br>
    <input type="submit" value="SUBMIT"/>
  </form>
</body>
</html>